.container {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 12px;
}

button {
  margin-top: 10px;
}

.message {
  margin-bottom: 15px;
  font-weight: 500;
  color: var(--primary-color);
}
