<div class="form-page">
  <div class="form-inner">
    <div class="message" *ngIf="message">{{ message }}</div>

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <input type="text" formControlName="username" placeholder="Usuario">
      <input type="password" formControlName="password" placeholder="Contraseña">
      <input type="email" formControlName="email" placeholder="Correo electrónico">

      <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="error-message">
        <span *ngIf="registerForm.get('email')?.errors?.['required']">El correo es obligatorio.</span>
        <span *ngIf="registerForm.get('email')?.errors?.['email']">El correo no es válido.</span>
      </div>

      <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
    </form>

    <a routerLink="/login">Volver al Login</a>
  </div>
</div>
