button {
  width: 100%;
  background: #fff;
  color: var(--text-dark);
  border: 1px solid var(--text-dark);
  padding: 6px 8px;
  cursor: pointer;
  transition: background var(--transition), color var(--transition);
}

button:hover:not(:disabled) {
  background: var(--primary-color);
  color: var(--text-light);
  border-color: var(--primary-color);
}