.container ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0; /* opcional, para quitar el margen */
}

/* Enlaces no visitados */
a:link {
  color: rgb(29, 147, 184);
}

a:visited {
  color: rgb(29, 147, 184);
}

/* Enlaces al pasar el mouse */
a:hover {
  color: var(--primary-dark);
}