<div class="container">
  <p *ngIf="loading">Cargando datos...</p>
  <p *ngIf="error" class="error">{{ error }}</p>

  <div *ngFor="let cat of categorias" class="categoria">
    <h3>{{ capitalize(cat.nombre) }}</h3>

    <table class="tabla-topics" *ngIf="getTopicsByCategoria(cat.id).length > 0; else sinTopics">
      <thead>
        <tr>
          <th>Tema</th>
          <th>Mensajes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let topic of getTopicsByCategoria(cat.id)">
          <td>
            <a [routerLink]="['/foro/mensajes', topic.id]">
              {{ capitalize(topic.nombre) }}
            </a>
          </td>
          <td class="mensajes-col">
            {{ getMensajesCountByTopic(topic.id) }}
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #sinTopics>
      <p class="sin-topics">(Sin topics)</p>
    </ng-template>
  </div>
</div>
