<!-- mensajes.component.html -->
<div class="container">
  <h3>{{ topicNombre}}</h3>

  <p *ngIf="loading">Cargando mensajes...</p>
  <p *ngIf="error" style="color:red">{{ error }}</p>
  <p *ngIf="!loading && mensajes.length === 0">No hay mensajes en este topic.</p>

  <div *ngFor="let msg of mensajes" class="card">
    <div class="card-header">
      {{ msg.usuario.username }} - <small>{{ formatDate(msg.date) }}</small>
    </div>
    <div class="card-body">
      {{ msg.contenido }}
    </div>
  </div>

  <div class="card nuevo-mensaje">
    <form [formGroup]="nuevoMensajeForm" (ngSubmit)="crearMensaje()">
      <textarea formControlName="contenido" placeholder="" rows="3"></textarea>
      <button type="submit" [disabled]="nuevoMensajeForm.invalid">Nuevo mensaje</button>
    </form>
  </div>
</div>
